.imageClass{
    background-color: #00806b6c;
    color:white
 
}
.dashboardBtn {
    background-color: rgba(41, 143, 161, 0.979); /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 15px;
    border-radius: 8px;
    
  }
  .navBarCust{    
    /*background-color: #E5E8E8;*/
    background-color: #2C3E50  ;
  } 
  