li {
    display: inline;
    margin:2px;
    padding: 7px;
    align-content: center;
    text-align: center;
}

div {
    text-align: center; 
}

table, th, td {
    border: 1px solid black;
    text-align: center; 
    border-collapse: collapse;
}






