
<nav class="navbar navBarCust">
<div class="">
    <div class="">
        <div>
            <div class="row"> 
          
              <div class="col-md-6" style="float:left">
                <button class="btn btn-primary dashboardBtn active" [routerLink] = "'accounts'">Account</button>
                <button class="btn btn-primary dashboardBtn active" [routerLink] = "'contacts'">Contact</button>
                <button class="btn btn-primary dashboardBtn active" [routerLink] = "'accounts'">Account</button>
                <button id = "onclickBtn" class="btn btn-primary dashboardBtn active"  (click)="callFunction($event)">Transctions</button>
              </div>
              <div class="col-md-6" style="text-align: center;">                  
                <button id = "logoutBtn" class="btn btn-primary dashboardBtn" style="float: right;" (click)="logOutUser($event)">Logout</button>
              </div>
              
            </div>
          </div>
    </div>
  </div>
  </nav>
<div>
  <router-outlet></router-outlet>
</div>



