/* You can add global styles to this file, and also import other style files */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #daacb0f3;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }


body {
  overflow:auto!important;
}
body,
table,
ul,
input,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'roboto', Helvetica, Arial
}
.page-body {
  background-color:#f4f5f9;
  padding:0 !important;
  margin-top:80px!important;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    border:0;
    border-bottom:1px solid #e0e0e0;
    color:#393939;
    font-weight:600;
    padding:0 16px 0 0;
    font-size:14px;
    height:40px;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    text-indent:1px;
    text-overflow:'';
}
p {
  color:#777;
  font-size:16px;
  line-height:22px;
  font-weight:300;
}
.mtop10 {
  margin-top:10px !important;
}
.mtop20 {
  margin-top:20px !important;
}
.mtop30 {
  margin-top:30px !important;
}
.mtop40 {
  margin-top:40px !important;
}
.mtop50 {
  margin-top:50px !important;
}
.mbottom10 {
  margin-bottom:10px !important;
}
.mbottom20 {
  margin-bottom:20px !important;
}
.mbottom30 {
  margin-bottom:30px !important;
}
.mbottom40 {
  margin-bottom:40px !important;
}
.mbottom50 {
  margin-bottom:50px !important;
}

.parentDisable{
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
  z-index: 998;
  height: 100%;
  width: 100%;}

  #popup_container {
    border:0;
    left:5% !important;
    margin:0 auto !important;
    max-width:72% !important;
    right:5%!important;
    padding:20px !important;
    width:90% !important;
    max-width:80%!important;
    border:1px solid #f2f2f2;
    min-width:90%!important;
}
#popup_title {
  background-color:transparent;
  border:0;
  color:#3c3c3c;
  font-family:roboto;
  font-size:30px;
  font-weight:300;
}
#popup_content.confirm {
  background-repeat:no-repeat;
  background-position:center -6%;
}
#popup_content.alert {
  background-position:center -6%!important;
}
#popup_message {
  color:#777777;
  font-size:18px;
  margin-bottom:30px;
  margin-top:50px;
  padding:0;
  text-align:center;
}